OPENSSL_VERSION=
ODL_PROTOCOL=http
ODL_HOST=127.0.0.1
ODL_PORT=8181
ODL_USER=admin
ODL_PASSWORD=admin
ODL_TIMEOUT=5
ODL_MAXTIME=300
ODL_AAA_DEFAULT_DOMAIN=sdn
ODL_AAA_DEFAULT_USER=admin
ODL_AAA_DEFAULT_ADMIN_ROLE=admin
ODL_AAA_DEFAULT_USER_ROLE=user
JOLOKIA_USER=admin
JOLOKIA_PASSWORD=admin
USER_AGENT=${cli_name,,}/${CLI_VERSION}
MACHINE_ID=
